html {
    background: #231f20;
    color: #fefefe;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
}

header {
    background: url(header.jpg) 50% 50% / cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100vw;
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
}

header .logo {
    width: 120px;
    height: 120px;
}

header .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

header .separator {
    flex-grow: 1;
}

header h1 {
    font-size: 4em;
    margin: 0px;
}

header h2 {
    font-size: 2em;
    margin: 0px;
}

main {
    padding: 10px 40px;
}

main h3 {
    color: #9da274;
    font-size: 1.65em;
}

footer {
    background: url(footer.jpg) 50% 50% / cover;
    background-size: cover;
    padding: 10px 40px 40px 40px;
}

footer h2 {
    color: #9da274;
    font-size: 2em;
}

footer h3 {
    font-size: 1.65em;
}

footer p {
    margin: 0px;
}

.button {
    background: #d62132;
    border: 1px solid transparent;
    color: #fefefe;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 6px 3px;
    padding: 7px 20px;
}

.button:hover {
    background: transparent;
    border-color: #d62132;
    color: #d62132;
}
